user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;
}

stream {
    upstream ldap {
      {% for node in groups['openldap'] %}
      server {{ hostvars[node]['ansible_host'] }}:389;
      {% endfor %}
    }

    server {
       listen 389;
       proxy_pass ldap;
       proxy_connect_timeout 1s;
    }
    
    upstream mariadb {
      {% for node in groups['mariadb'] %}
      server {{ hostvars[node]['ansible_host'] }}:3306;
      {% endfor %}
    }

    server {
      listen 3306;
      proxy_pass mariadb;
      proxy_connect_timeout 1s;
    }
    
    upstream kdc {
      {% for node in groups['kdc'] %}
      server {{ hostvars[node]['ansible_host'] }}:88;
      {% endfor %}
    }

    server {
      listen 5088;
      proxy_pass kdc;
      proxy_connect_timeout 1s;
    }
}
