dn: dc=idc,dc=wanda-group,dc=net
objectClass: top
objectClass: dcObject
objectclass: organization
o: Wanda Group
dc: idc

dn: cn=Manager,dc=idc,dc=wanda-group,dc=net
objectClass: organizationalRole
cn: Manager
description: Directory Manager
